@model Aspire_POS.Models.InventoryModel

@{
    ViewData["Title"] = "Inventario";
}

<!DOCTYPE html>
<html lang="es">
<head>
</head>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <div class="content-wrapper">
            <div class="card">
                <div class="card-header">
                    <button class="btn btn-secondary"><i class="fas fa-book"></i> <b>Inventario</b></button>
                    <button class="btn btn-warning"><i class="fas fa-plus"></i> Crear nuevo artículo</button>
                </div>
                <div class="card-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nombre</th>
                                <th>Precio</th>
                                <th>Stock</th>
                                <th>Categoría</th>
                                <th>Imagen</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Products.Count > 0)
                            {
                                @foreach (var product in Model.Products)
                                {
                                    <tr>
                                        <td>@product.Id</td>
                                        <td>@product.Name</td>
                                        <td>@product.Price.ToString("C")</td>
                                        <td>@(product.InStock ? product.StockQuantity.ToString() : "No")</td>
                                        <td>@(product.Categories.Count > 0 ? product.Categories[0].Name : "Sin categoría")</td>
                                        <td>
                                            <img src="@product.Images.FirstOrDefault()" alt="Imagen de @product.Name" width="50" />
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="7" class="text-center">No hay productos en inventario</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</body>
</html>
